[project]
name = "repl-nix-workspace"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.11"
dependencies = [
    "beautifulsoup4>=4.14.2",
    "gspread>=6.2.1",
    "oauth2client>=4.1.3",
    "requests>=2.32.5",
]
